@charset "UTF-8";

:root {
  /* 色管理用の変数 */
  --black-color: #333;
  --white-color: #fff;
  --mark-color: #12389e;
  --mark-color02: #5a2aa9;
  --gray-color: rgb(255, 255, 255, 0.7);
}

:root {
  /* コンテンツ幅管理用の変数 */
  --content-width-sm: 343px;
  --content-width: 960px;
  --content-width-lg: 1088px;
}

:root {
  /* z-index管理用の変数 */
  --z-index-back: -1;
  --z-index-default: 1;
  --z-index-page-top: 50;
  --z-index-header: 100;
  --z-index-menu: 150;
}

/* ---------- base ---------- */
body {
  color: var(--white-color);
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.75;
  text-align: center;
  background: linear-gradient(
    to bottom,
    #a9bfdf,
    #255faf 25%,
    #5660cb 70%,
    #b1a2f4
}

/* ---------- utility ---------- */
.u_lg-dn {
  display: block;
}

/* ---------- layout ---------- */

.l_container-sm,
.l_container,
.l_container-lg {
  width: 92%;
  margin: 0 auto;
}

.l_container-sm {
  max-width: var(--content-width-sm);
}

.l_container {
  max-width: var(--content-width);
}

.l_container-lg {
  max-width: var(--content-width-lg);
}

/*-------------------------------------------
Header
-------------------------------------------*/

#header {
  height: 100px;
  padding: 40px 0 0 50px;
}
#header .site-title {
  width: 100px;
  line-height: 1px;
}
#header .site-title a {
  display: block;
}

/*
ハンバーガ―メニュー
*/
.hamburger {
  width: 100px;
  height: 100px;
  background-color: var(--black-color);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 30;
  cursor: pointer;
  transition: 0.3s;
}
.hamburger:hover {
  opacity: 0.7;
}
/* ハンバーガーメニューの線の設定（メニューが閉じている時） */
.hamburger span {
  width: 50px;
  height: 2px ;
  background: var(--white-color);
  position: absolute;
  left: 25px;
  transition: 0.3s ease-in-out;
}
/* 1本目の線の位置を設定 */
.hamburger span:nth-child(1) {
  top: 36px;
}
/* 2本目の線の位置を設定 */
.hamburger span:nth-child(2) {
  top: 50px;
}
/* 3本目の線の位置を設定 */
.hamburger span:nth-child(3) {
  top: 64px;
}
/*
ハンバーガーメニューの線の設定（メニューが開いている時）
1本目の線を-45度回転
*/
.hamburger.active span:nth-child(1) {
  top: 47px;
  left: 25px;
  background : var(--white-color);
  transform: rotate(-45deg);
}
/* 2本目と3本目は重ねて45度回転 */
.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 47px;
  background: var(--white-color);
  transform: rotate(45deg);
}
/*
メニューの設定
最初は閉じている状態なので、「opacity: 0;」「visibility: hidden;」
で要素を非表示にしておく
*/
#navi {
  width: 100%;
  height: 100vh;
  background-color: var(--black-color);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  opacity: 0;
  text-align: center;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  visibility: hidden;
}
/*
ハンバーガーメニューがクリックされた際に、jQueryで#naviにactiveクラスを追加して、
メニューを表示させる。
*/
#navi.active {
  opacity: 1;
  visibility: visible;
}
#navi .logo {
  width: 100px;
  position: absolute;
  top: 40px;
  left: 50px;
}
#navi .menu {
  margin: 80px 0 40px 0;
}
#navi .menu li {
  margin-bottom: 20px;
}
#navi .menu a {
  color: #fff;
  font-weight: bold;
}
#navi .btn {
  width: 250px;
  border: solid 1px var(--white-color);
  color: var(--white-color);
  display: block;
  font-weight: bold;
  padding: 15px 0;
  margin: 0 auto;
  position: relative;
  transition: 0.3s ease-in-out;
}
/* ボタンの右と下の線は疑似要素で設定 */
#navi .btn::after {
  content: "　";
  width: 250px;
  border-right: solid 1px var(--white-color);
  border-bottom: solid 1px var(--white-color);
  padding: 15px 0;
  position: absolute;
  right: -6px;
  bottom: -6px;
}
#navi .btn:hover {
  background-color: var(--white-color);
  color: #ff2a2a;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/


/*-------------------------------------------
Vision
-------------------------------------------*/


/*-------------------------------------------
ABOUT US
-------------------------------------------*/

.main_wrapper {
  );
  
}

.top_main-wrapper{
  height: 2417px;
}

.top_about-wrapper {
  padding-top: 82px;
  text-align: center;
}

.top_about_content {
  margin-top: 73px;
}

.top_about_text {
  font-size: 14px;
  line-height: 2.14;
}

.top_about_text-wrapper:not(:first-child) {
  margin-top: 42px;
}

.about_header {
  height: 100vh;
  background: url(../img/about_kv.png) 85% 0/cover;
  position: relative;
  z-index: 0;
}
.about_header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(44, 22, 129, 0.3);
  

}

.about_header-inner {
  height: 100%;
  position: relative;
}

.about_title-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}

.about_wrapper {
  height: 2293px;
  text-align: center;
}

.about_text-wrapper{
  padding-top: 56px;
}
.about_big_text {
  font-size: 20px;
  text-shadow:0px 3px 6px rgb(2, 2, 3,0.8);
}

.about_text {
  font-size: 14px;
  line-height: 2.14;
  margin-top: 15px;
}

.about_strength_wrapper {
  margin-top: 90px;
}

.about_strength_title {
  font-size: 18px;
  position: relative;
}

.about_strength_title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  width: 30px;
  height: 1px;
  background-color: var(--white-color);
}

.about_strength_title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
  width: 30px;
  height: 1px;
  background-color: var(--white-color);
}


.about_strength_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 26px;
}

.about_strength_item {
  background-color: #5a2aa9;
  padding: 31px 21px;
  border-radius:50%;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 2px 3px 6px rgb(26, 8, 138,0.58);
}

.about_strength_text {
  font-size: 14px;
  font-weight: medium;
  margin-top: 40px;
}

/*-------------------------------------------
GALLERY
-------------------------------------------*/

/*-------------------------------------------
Message
-------------------------------------------*/
.message {
  font-size: 20px;
  margin-top: 16px;
}

@keyframes bggradient{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.accentuation{
  font-size: 25px;
  background:linear-gradient(transparent 60%, #948C27 80%);
}

.main-message{
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.sub-message{
  padding-top: 74px;
  width: 80%;
  margin: auto; /*上下左右中央に*/
  color: #fff;
  text-align: center;
}

.please-message{
  font-weight: bold;
  color:#FFEB00;
  padding-top: 40px;
  text-align: center;
}

/*-------------------------------------------
Contact
-------------------------------------------*/
.contact_title{
  font-size: 30px;
  padding-top: 84px;
  position: relative;
  color: #fff;
  text-align: center;
}

.contact_title::before{
  content: "連絡先";
  position: absolute;
  color: #fff;
  font-size: 0.2em;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact_title::after{
  content: "";
  position: absolute;
  width:  120px;
  height: 2%;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.contact_name{
  font-size: 20px;
  padding-top: 30px;
  font-weight: bold;
  color: #fff;
  position: relative;
  text-align: center;
}

.contact_name::before{
  content: '';
  display: inline-block;
  background-image: url(/img/Instagram_icon.png);
  background-size: contain;
  vertical-align: middle;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.contact_sub-title{
  font-size: 12px;
  padding-top: 30px;
  color: #fff;
  text-align: center;
}

.contact_sub-title .before-point,
.contact_sub-title .after-point{
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	width: 15px;
	height: 1px;
	background-color: #ffffff;
	position: relative;
}

.contact_sub-title .before-point::before,
.contact_sub-title .before-point::after,
.contact_sub-title .after-point::before,
.contact_sub-title .after-point::after{
  content: "";
	display: block;
	width: 15px;
	height: 1px;
	background-color: #ffffff;
	position: absolute;
}

.contact_sub-title .before-point::before{
  top: -10px;
  transform: rotate(30deg);
}

.contact_sub-title .before-point::after{
  bottom: -10px;
  transform: rotate(-30deg);
}

.contact_sub-title .after-point::before{
  top: -10px;
  transform: rotate(-30deg);
}

.contact_sub-title .after-point::after{
  bottom: -10px;
  transform: rotate(30deg);
}

.contact_background{
  display: flex;
  justify-content: center;
  position: relative;
}

.contact_background::after{
  content: "お話を聞くだけでも大丈夫です！！\Aお気軽にお問い合わせください。";
  white-space: pre-wrap;
  color: #6E66D7;
  top: 50px;
  position: absolute;
}

.circle-1,
.circle-2,
.circle-3,
.circle-4 {
  width: 100px;
  height: 100px;
  margin: 25px -10px;
}
.circle-1 {
  background: rgb(255, 255, 255);
  border-radius: 50%;
}
.circle-2 {
  background: rgb(255, 255, 255);
  border-radius: 50%;
}
.circle-3 {
  background: rgb(255, 255, 255);
  border-radius: 50%;
}
.circle-4 {
  background: rgb(255, 255, 255);
  border-radius: 50%;
}

.copyright{
  padding-top: 30px;
}

/* fadeUpをするアイコンの動き */

.fadeUp{
animation-name: fadeUpAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity: 0;
}

@keyframes fadeUpAnime{
from {
  opacity: 0;
transform: translateY(100px);
}

to {
  opacity: 1;
transform: translateY(0);
}
}

/*-------------------------------------------
フッター
-------------------------------------------*/
