@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  font-size: 16px;
  padding: 10%;
  color: #333;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  background:linear-gradient(45deg, #3bade3,#9844b7,#ea44d1);
  background-size: 200% 200%;
  animation: bggradient 20s ease infinite;
}

@keyframes bggradient{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  color: #333;
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/


/*-------------------------------------------
Mainvisual
-------------------------------------------*/


/*-------------------------------------------
Vision
-------------------------------------------*/


/*-------------------------------------------
ABOUT US
-------------------------------------------*/

/*-------------------------------------------
GALLERY
-------------------------------------------*/

/*-------------------------------------------
Message
-------------------------------------------*/
.message {
  font-size: 20px;
  margin-top: 16px;
}

@keyframes bggradient{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.accentuation{
  font-size: 25px;
  background:linear-gradient(transparent 60%, #948C27 80%);
}

.main-message{
  font-weight: bold;
  color: #fff;
}

.sub-message{
  padding-top: 74px;
  width: 80%;
  margin: auto; /*上下左右中央に*/
  color: #fff;
}

.please-message{
  font-weight: bold;
  color:#FFEB00;
  padding-top: 40px;
}

/*-------------------------------------------
Contact
-------------------------------------------*/
.contact_title{
  font-size: 30px;
  padding-top: 84px;
  position: relative;
  color: #fff;
}

.contact_title::before{
  content: "連絡先";
  position: absolute;
  color: #fff;
  font-size: 0.2em;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact_title::after{
  content: "";
  position: absolute;
  width:  120px;
  height: 2%;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.contact_name{
  font-size: 20px;
  padding-top: 30px;
  font-weight: bold;
  color: #fff;
  position: relative;
}

.contact_name::before{
  content: '';
  display: inline-block;
  background-image: url(/img/Instagram_icon.png);
  background-size: contain;
  vertical-align: middle;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.contact_sub-title{
  font-size: 12px;
  padding-top: 30px;
  color: #fff;
}

.contact_sub-title .before-point,
.contact_sub-title .after-point{
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	width: 15px;
	height: 1px;
	background-color: #ffffff;
	position: relative;
}

.contact_sub-title .before-point::before,
.contact_sub-title .before-point::after,
.contact_sub-title .after-point::before,
.contact_sub-title .after-point::after{
  content: "";
	display: block;
	width: 15px;
	height: 1px;
	background-color: #ffffff;
	position: absolute;
}

.contact_sub-title .before-point::before{
  top: -10px;
  transform: rotate(30deg);
}

.contact_sub-title .before-point::after{
  bottom: -10px;
  transform: rotate(-30deg);
}

.contact_sub-title .after-point::before{
  top: -10px;
  transform: rotate(-30deg);
}

.contact_sub-title .after-point::after{
  bottom: -10px;
  transform: rotate(30deg);
}

.contact_background{
  display: flex;
  justify-content: center;
  position: relative;
}

.contact_background::after{
  content: "お話を聞くだけでも大丈夫です！！\Aお気軽にお問い合わせください。";
  white-space: pre-wrap;
  color: #6E66D7;
  top: 50px;
  width: 340px;
	position: absolute;
}

.circle-1,
.circle-2,
.circle-3,
.circle-4 {
  width: 100px;
  height: 100px;
  margin: 25px -10px;
}
.circle-1 {
  background: rgb(255, 255, 255);
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
  /* animation: border-animation 6s infinite linear; */
}
.circle-2 {
  background: rgb(255, 255, 255);
  border-radius: 80% 30% 50% 50%/50%;
  /* animation: border-animation 3s infinite linear; */
}
.circle-3 {
  background: rgb(255, 255, 255);
  border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
  /* animation: border-animation 5s infinite linear; */
}
.circle-4 {
  background: rgb(255, 255, 255);
  border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
  /* animation: border-animation 6s infinite linear; */
}

/* Animation */
@keyframes border-animation {
  to { transform: rotate(360deg); }
}

.copyright{
  padding-top: 30px;
}

/* fadeUpをするアイコンの動き */

.fadeUp{
animation-name: fadeUpAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity: 0;
}

@keyframes fadeUpAnime{
from {
  opacity: 0;
transform: translateY(100px);
}

to {
  opacity: 1;
transform: translateY(0);
}
}

/*-------------------------------------------
フッター
-------------------------------------------*/
